/*----------- BODY --------------*/

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/

#mainWrapper {
    margin: 0 2vw;

        main {
            margin: 0;
            h2 {
                margin-bottom: 0;
            }
            form {
                &#slider {
                    label.category {
                        width: 15%;
                    }
                    .form-submit {
                        width: 31%;
                    }
                }
            }
            
        }
}

/*----------- FOOTER --------------*/
