

/*----------- BODY --------------*/



/*----------- HEADER --------------*/ 

/*----------- NAVIGATION --------------*/

#navWrapper {
        nav {
    
            ul {
    
                li {
                    width: auto;
    
                    a {
                        padding: .5rem 1rem;
                    }
    
                    &:last-child a {border-right: 1px solid #777;}
    
                    &:first-child a {padding-left: 0;}
               }
            }
        }
    }

/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
