/*----------- BODY --------------*/


/*----------- HEADER --------------*/


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

#mainWrapper {

    main {
        .articles {
            height: 45rem;
            columns: 2;
            article {
                flex: 1;
                width: 45%;

                img {
                    width: 60%;
                }
            }
        }
    }

}


/*----------- FOOTER --------------*/